

body {
    margin: 0;
  }

  .container {
    width: 100vw;

    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    background-color: skyblue;

    display: grid;

    gap: 0px;
   

  }

  .container div {
    border: 0px solid #000;
  }

  .header {
    font-size: 30px;
    background-color: #505050;
    padding-top:15px;
    width:100vw;
  }

  .footer {
    font-size: 60px;
    background-color: #505050;
    padding-top:30px;
    width:100vw;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    justify-content: space-around;
  }

  a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color:white;
  }

  a:hover {
    background-color: skyblue;
  }

  p{
    padding:30px;
  }

  h1 {
    padding:30px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  img.center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
